<div id="<%= dom_id folder %>">
  <p>
    <strong>Name:</strong>
    <%= folder.name %>
  </p>

  <p>
    <strong>Default version:</strong>
    <%= folder.default_version_id %>
  </p>

  <p>
    <strong>Versions count:</strong>
    <%= folder.versions_count %>
  </p>

</div>
